body {
  background-color: #911f27;

  font-family: "Zen Antique", serif;
}

:root {
  --cell-size: 100px;
  --mark-size: calc(var(--cell-size) * 0.9);
}

/* Title*/
.title {
  color: #fcf0c8;
  display: flex;
  font-size: 46px;
  justify-content: center;
}

/* Score*/
.score {
  color: #fcf0c8;
  display: flex;
  font-size: 40px;

  justify-content: center;
  margin-top: 7px;
}
.result {
  color: #fcf0c8;
  display: flex;
  font-size: 32px;
  justify-content: center;
  margin-top: 7px;
}

/* Player */
.player {
  display: flex;
  justify-content: center;
  margin-top: 35px;
}

.player1 {
  background-color: #face7f;
  border: 1px solid black;
  border-radius: 5%;
  margin-right: 24%;
  height: 50px;
  font-size: 26px;

  padding: 15px 0px 35px 45px;
  width: 130px;
}
.player2 {
  background-color: #face7f;
  border: 1px solid black;
  border-radius: 5%;

  height: 50px;
  font-size: 26px;

  padding: 15px 0px 35px 45px;
  width: 130px;
}
.X,
.O {
  margin-left: 30px;
}
*/ 

/* Board */
*,
*::after,
*::before {
  box-sizing: border-box;
}

:root {
  --cell-size: 100px;
  --mark-size: calc(var(--cell-size) * 0.9);
}

.board {
  align-content: center;
  align-items: center;
  display: grid;
  grid-template-columns: repeat(3, auto);
  height: 45vh;
  justify-content: center;
  justify-items: center;
  width: 100vw;
}

.boardTile {
  align-items: center;
  border: 1px solid black;
  cursor: pointer;
  display: flex;
  height: var(--cell-size);
  justify-content: center;
  position: relative;
  width: var(--cell-size);
}

/* Board Border */
.boardTile:first-child,
.boardTile:nth-child(2),
.boardTile:nth-child(3) {
  border-top: none;
}

.boardTile:nth-child(3n + 1) {
  border-left: none;
}
.boardTile:nth-child(3n + 3) {
  border-right: none;
}
.boardTile:last-child,
.boardTile:nth-child(8),
.boardTile:nth-child(7) {
  border-bottom: none;
}

/* X symbol */
.boardTile.x::before,
.boardTile.x::after,
.board.x .boardTile:not(.x):not(.circle):hover::before,
.board.x .boardTile:not(.x):not(.circle):hover::after {
  content: "";
  height: var(--mark-size);
  position: absolute;
  width: calc(var(--mark-size) * 0.15);
}

.boardTile.x::before,
.board.x .boardTile:hover::before {
  transform: rotate(45deg);
}
.boardTile.x::after,
.board.x .boardTile:hover::after {
  transform: rotate(-45deg);
}

/* O symbol */

.boardTile.circle::before,
.boardTile.circle::after,
.board.circle .boardTile:not(.x):not(.circle):hover::after,
.board.circle .boardTile:not(.x):not(.circle):hover::before {
  background-color: #082032;
  border-radius: 50%;
  content: "";

  position: absolute;
}

.boardTile.circle::before,
.board.circle .boardTile:not(.x):not(.circle):hover::before {
  height: var(--mark-size);
  transform: rotate(45deg);
  width: var(--mark-size);
}
.boardTile.circle::after,
.board.circle .boardTile:not(.x):not(.circle):hover::after {
  background-color: #911f27;
  height: calc(var(--mark-size) * 0.8);
  transform: rotate(-45deg);
  width: calc(var(--mark-size) * 0.8);
}

/* Cursor Pointer */
.boardTile.x,
.boardTile.circle {
  cursor: not-allowed;
}

/* Hover Effects */

.boardTile.x::after,
.boardTile.x::before {
  background-color: #125c13;
}

.board.x .boardTile:not(.x):not(.circle):hover::after,
.board.x .boardTile:not(.x):not(.circle):hover::before {
  background-color: #3e7c17;
}

.board.circle.boardTile:not(.x):not(.circle):hover::after,
.board.circle .boardTile:not(.x):not(.circle):hover::before {
  background-color: #2c394b;
}

/* Replay */
#restartButton {
  background-color: #face7f;
  height: 60px;
  margin-left: 42%;
  margin-top: 5px;
  width: 240px;
}

.bi {
  font-size: 20px;
}
